.survey_cont {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.survey_cont input {
    width: 50px
}

.survey_cont button {
    padding: 10px;
    background-color: lightgreen;
    border: none;
    border-radius: 5px;
}